.bord{
  margin: auto;
  border-style: double;
  box-shadow: 0 0 8px purple;
}

<<<<<<< HEAD
.middle{
	width:650px;
	margin:auto;
}

.logo{
  display: block;
=======
.centrinis{
  width: 700px;
>>>>>>> e5f650b66a6254fef60b226eebb5052a9b049e4d
  margin: auto;
}

img{
  display: block;
  margin: auto;
  padding: 10px;
}

a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
}

li{
  display: inline;
  text-shadow: 0 0 2px black;
  margin:auto;
}

a:hover{
  color: white;
  text-shadow: 0 0 5px black;
}

ul{
  list-style-type: none;
  margin: auto;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
}

p{
  padding: 20px;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  color: grey;
  text-shadow: 0 0 2px black;
}
