.bord{
  width: 1280px;
  height: 500px;
  border-style: double;
  box-shadow: 0 0 8px purple;
}

.logo{
  display: block;
  margin: auto;
  padding: 20px;

}

a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
}

.links{
  width: 600px;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  margin: auto;
}

li{
  display: inline;
  text-shadow: 0 0 2px black;


}

a:hover{
  color: white;
  text-shadow: 0 0 5px black;
}

ul{
  list-style-type: none;

}

.keys{
  display: block;
  margin: auto;
  padding: 10px;

}

p{
  width: 600px;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  color: grey;
  text-shadow: 0 0 2px black;


}
