@media screen and (min-width:600px){
  .colm1{width: 8.33%;}
  .colm2{width: 16.66%;}
  .colm3{width: 25%;}
  .colm4{width: 33.33%}
  .colm5{width: 41.66%;}
  .colm6{width: 50%;}
  .colm7{width: 58.33%;}
  .colm8{width: 66.66%}
  .colm9{width: 75%;}
  .colm10{width: 83.33%;}
  .colm11{width: 91.66%;}
  .colm12{width: 100%}
}

@media screen and (max-width:599px){
  .cols1{width: 8.33%;}
  .cols2{width: 16.66%;}
  .cols3{width: 25%;}
  .cols4{width: 33.33%}
  .cols5{width: 41.66%;}
  .cols6{width: 50%;}
  .cols7{width: 58.33%;}
  .cols8{width: 66.66%}
  .cols9{width: 75%;}
  .cols10{width: 83.33%;}
  .cols11{width: 91.66%;}
  .cols12{width: 100%}
}

@media screen and (max-width:992px){
  .colsl1{width: 8.33%;}
  .colsl2{width: 16.66%;}
  .colsl3{width: 25%;}
  .colsl4{width: 33.33%}
  .colsl5{width: 41.66%;}
  .colsl6{width: 50%;}
  .colsl7{width: 58.33%;}
  .colsl8{width: 66.66%}
  .colsl9{width: 75%;}
  .colsl10{width: 83.33%;}
  .colsl11{width: 91.66%;}
  .colsl12{width: 100%}
}


[class^="col"]{
  float: left;
}
